@import "tailwindcss";

@theme {
    --color-my-white: hsl(0, 0%, 100%);
    --color-my-stone-100: hsl(30, 54%, 90%);
    --color-my-stone-150: hsl(30, 18%, 87%);
    --color-my-stone-600: hsl(30, 10%, 34%);
    --color-my-stone-900: hsl(24, 5%, 18%);

    --color-my-brown-800: hsl(14, 45%, 36%);

    --color-my-rose-800: hsl(332, 51%, 32%);
    --color-my-rose-50: hsl(330, 100%, 98%);
}